<div class="mt-3 col text-center mx-auto">
	<h2 class="page-header">Fly Database</h2>
</div>

<br>


<table class="table table-inverse">
	<thead class="thead-light">
		<tr>
			<th class="bg-warning text-dark">Name</th>
			<th class="bg-warning text-dark">Type</th>
			<th class="bg-warning text-dark">Size Range</th>
			<!-- <th>Details</th> -->
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let fly of flies">
			<td class="bg-dark text-warning">{{ fly.name }}</td>
			<td class="bg-dark text-warning">{{ fly.flyType }}</td>
			<td class="bg-dark text-warning">{{ fly.size }}</td>
			<!-- <td>Show</td> -->
		</tr>
	</tbody>
</table>