<!-- <div>
	<ul class="list-group">
		<li class="list-group-item">Title: {{fly.title}}</li>
		<li class="list-group-item">Type: {{fly.type}}</li>
	</ul>
</div> -->

<!-- <div class="container">
	<h1>Fly List</h1>
	<table>
		<thead>
			<tr>
				<th>Title</th>
				<th>Type</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let fly of flies">
				<td>{{ fly.title }}</td>
				<td>{{ fly.type }}</td>
				<td>Show Detail</td>
			</tr>
		</tbody>
	</table>
</div> -->
<div *ngIf="user" class="mt-3 col text-center mx-auto">
	<h2 class="page-header">Hello {{user.name}}</h2>
	<ul class="list-group mt-5">
		<li class="list-group-item">Username: {{user.username}}</li>
		<li class="list-group-item">Email: {{user.email}}</li>
	</ul>
</div>