<div class="mt-3 col text-center mx-auto">
	<h2 class="page-header">Basic Casting Techniques</h2>
</div>
<div class="row justify-content-center">
	<a href="https://www.fix.com/blog/basic-fly-casting-techniques/"><img src="https://www.fix.com/assets/content/15486/fly-casting-embed-large.png" border="0" /></a> 
</div>
<br>
<br>
<hr>
<br>
<div class="mt-3 col text-center mx-auto">
	<h2 class="page-header">Advanced Casting Techniques</h2>
</div>
<div class="row justify-content-center">
	<a href="https://www.fix.com/blog/expert-fly-casting/"><img src="https://www.fix.com/assets/content/19952/advanced-fly-casting-embed-large.png" border="0" /></a> 
</div>